@use "../abstract" as *;

.order-form {
	// .order-form__row
	&__row {
	}
}

.card {
	@include font(1rem, 1.2rem, 300);
	width: 300px;
	height: 180px;
	border-radius: 5px;
	background: linear-gradient(135deg, rgb(19 21 20 / 11%) 33%, rgb(0 0 0 / 12%) 33% 66%, rgb(0 0 0 / 14%) 66% 100%);
	box-shadow: 0 10px 20px rgb(25 27 32 / 38%);
	align-self: center;

	// .card__content
	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 20px;
	}

	// .card__logo
	&__logo {
		width: 40px;
		height: 40px;
	}

	// .card__label
	&__label {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	// .card__input
	&__input {
		@include font(1.4rem, 1.6rem, 300);
		outline: none;
		background-color: inherit;
	}

	// .card__row
	&__row {
		display: flex;
		justify-content: space-between;
	}

	// .card__text
	&__text {
	}

	// .card__input-columns
	&__input-columns {
		display: flex;
		align-items: baseline;
		font-size: 1.2rem;
		>* {
			text-align: center;
		}
	}
}
