@use "../abstract" as *;

.head-controls {
	// .head-controls__wrapper
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		margin-bottom: 40px;

		@include media-small-laptop {
			gap: 10px;
			padding: 6px 5px;
			margin-bottom: 20px;
		}

		@include media-small-tablet {
			flex-wrap: wrap;

			>* {
				flex-basis: 100%;
			}
		}
	}

	// .head-controls__header
	&__header {
	}

	// .head-controls__layouts
	&__layouts {
	}

	// .head-controls__search
	&__search {
	}

	// .head-controls__sort-by
	&__sort-by {
	}
}

.layouts {
	display: flex;

	>* {
		padding: 5px;
	}

	// .layouts__radio
	&__radio {
		position: fixed;
		opacity: 0;
		pointer-events: none;
	}

	&__radio:hover + .icon {
		filter: invert(0);
		transform: scale(1.29);
	}

	&__radio:checked + .icon {
		filter: invert(0);
		transform: scale(1.29);
	}

	.icon {
		filter: invert(0.5);
	}
}

.search {
	@extend %border;
	border-radius: 20px;
	padding: 10px;

	&__form {
		display: flex;
		align-items: center;
	}

	&__input {
		position: relative;
		outline: none;
		background: inherit;
		width: 190px;
		padding: 0 10px;
	}

	&__input::placeholder {
		color: $color-border-text;
	}

	&__button {
		background-color: inherit;
	}

	@include media-laptop {
		padding: 7px;
	}

	@include media-small-laptop {
		padding: 2px;
	}
}

.sort-by {
	&__label {
		padding-right: 10px;
		@include media-laptop {
			display: none;
		}
	}

	&__select {
		@extend %border;
		background: inherit;
		text-align: center;
		border-radius: 20px;
		padding: 12px 10px;
		color: $color-border-text;
		outline: none;
		&:hover {
			color: $color-primary;
			cursor: pointer;
		}

		@include media-small-laptop {
			padding: 6px 5px;
			text-align: left;
		}

		@include media-small-tablet {
			width: 100%;
		}
	}
}
