@use "../abstract" as *;

.nav {
	display: flex;
	&__list {
		display: flex;
		flex-grow: 1;
		justify-content: space-between;

		@include media-small-laptop {
			justify-content: flex-end;
		}
	}

	&__item {
		padding: 0 10px;
		font-family: $font-family;
		@include font(1.6rem, 3.5rem, normal);
		@extend %transition;
		a {
			text-decoration: none;
			color: $color-text;
			&:hover {
				color: $color-primary;
			}
		}
	}

	& .icon--close {
		display: none;
	}

	@include media-small-laptop {
		& .main-link {
			display: none;
		}
	}
}

.header__nav {
	@include media-tablet {
		position: fixed;
		width: 100%;
		height: 100%;
		right: 0;
		top: -100%;
		z-index: 10;
		transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		background: $color-overlay;
		border-bottom: 1px solid $color-border;

		& .icon--close {
			position: absolute;
			display: inline-flex;
			top: 4px;
			right: 8px;
		}

		.nav__list {
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			height: 100px;
			background: $color-light-bg;
		}

		& .main-link {
			display: flex;
		}
	}
}

.nav--show {
	top: 0;
}
