@use "../abstract" as *;

.products {
	// .products__wrapper
	&__wrapper {
		gap: 40px;
	}

	// .products__item
	&__item {
	}

	&__empty {
		flex-basis: 100%;
		text-align: center;
	}

}

.products {
	.layout-columns {
		.product-item {
			flex-direction: column;

			// .product-item__info
			&__info {
				flex-direction: column;
				justify-content: end;
			}

			// .product-item__price
			&__price {
				order: 0;
				text-align: left;
			}

			// .product-item__button
			&__button {
				order: 0;

				& .button {

				}
			}
		}
	}
}

.products {
	.layout-rows {
		.product-item {
			flex-direction: row;

			// .product-item__img
			&__img {
				max-width: 240px;
			}

			&__title {
				padding: 30px;
				text-align: center;
			}

			// .product-item__info
			&__info {
				flex-direction: row;
				gap: 12px;
				justify-content: end;

			}

			// .product-item__price
			&__price {
				order: 1;
				text-align: end;
				&-default {
				}

				&-discount {
					@include font(2.1rem, 1.8rem);
					color: $color-primary;
				}
			}

			// .product-item__category
			&__category,
			&__brand,
			&__stock,
			&__rating {
				position: relative;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			&__category:before,
			&__brand:before,
			&__stock:before {
				display: inline-flex;
				height: 100%;
				content: "";
				position: absolute;
				border-right: 1px solid #000;
				top: 0;
				right: -8px;
			}

			// .product-item__brand
			&__brand {
			}

			// .product-item__button
			&__button {
				order: 1;
			}
		}
	}
}

.product-item {
	@extend %block-shadowed;
	display: flex;
	transition: all 0.3s ease-out 0s;
	cursor: pointer;

	// .product-item__img
	&__img {
		>* {
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
			width: 100%;
			height: 100%;
		}
	}

	// .product-item__content
	&__content {
		padding: 10px 20px 20px;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}

	// .product-item__title
	&__title {
		transition: all 0.3s ease-out 0s;
		margin: 0 0 15px;
		text-align: left;
		flex-grow: 1;
	}

	// .product-item__info
	&__info {
		display: flex;
		padding-bottom: 10px;
	}

	// .product-item__price
	&__price {
		@include font(1.8rem, 1.8rem);
		padding-bottom: 15px;
		&-default {
			text-decoration: line-through;
		}

		&-discount {
			@include font(2.1rem, 1.8rem);
			color: $color-primary;
		}
	}

	// .product-item__category
	&__category {
	}

	// .product-item__brand
	&__brand {
	}

	// .product-item__button
	&__button {
		text-align: center;
		& .button {
			width: 100%;
		}
	}
}
