%transition {
	transition: all .3s;
}

%border {
	border: 1px solid #BDBDBD;
}

%border-bottom {
	border-bottom: 1px solid #BDBDBD;
}

%block-shadowed {
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
}
