$color-primary: #976464;
$color-secondary: #D3D3B5;
$color-light: #ffffff;
$color-border-text: #BDBDBD;
$color-border: #BDBDBD;
$color-text: #2F281E;
$color-light-bg: #FAF9F9;
$color-subtitle: #424242;

$color-overlay: rgba(80, 80, 80, 0.4);

$color-text-btn: #173A56;

$font-family: 'Montserrat', sans-serif;

$width-container: 1200px;

$laptop-width: 1240px;
$laptop-small-width: 900px;
$tablet-width: 768px;
$tablet-small-width: 767px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;


