@use "../abstract" as *;

.header {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  padding: 10px 0 8px 0;
  margin-bottom: 60px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    flex-basis: 50%;
    width: 30%;

    >* {
      max-width: 100px;
      object-fit: contain;
    }
  }

  &__nav {
    flex-grow: 1;
  }

  // .header__total
  &__total {
  }
}

.cart {
  &__wrapper {
    @extend %border;
    border-radius: 46px;
    padding: 5px 15px;
    cursor: pointer;
  }

  &:hover &__text {
    color: $color-primary;
  }

  // .cart__link
  &__link {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  // .cart__content
  &__content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  // .cart__text
  &__text {
    color: $color-border-text;
  }

  // .cart__total
  &__total {
    position: absolute;
    top: -18px;
    left: 83px;
  }

  // .cart__total-value
  &__total-value {
    font-size: 11px;
  }

  // .cart__total-price
  &__total-price {
    color: $color-primary;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;

    span {
      color: $color-text;
      text-decoration: line-through;
      font-size: 1.2rem;
      font-weight: bold;
      line-height: 1.2rem;
    }

    b {
      font-size: 1.8rem;
      font-style: normal;
      font-weight: bold;
      line-height: 1.8rem;
      color: $color-primary;
    }
  }
}

.total {
  // .total__wrapper
  &__wrapper {
    @extend %border;
    border-radius: 46px;
    padding: 5px 15px;
  }

  // .total__content
  &__content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  // .total__text
  &__text {
  }

  // .total__value
  &__value {
  }
}
